<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Sistema LMS</h2>
      <p>
        Integración de sistema académico con un aula virtual utilizando apache kafka e implementando patrón pipeline.
      </p>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Sistema de reserva de pasajes</h2>
      <p>
        Trabajo realizado en la facultad que consistía en un sistema de reservas en la cual el usuario podía elegir el asiento. También administración de pagos.
      </p>
    </div>
  
  </div>
</div>
