<div class="row">
  <!--ng-circle-progress
        showUnits desaparece porcentaje
    -->
  <h1>Hard % Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/instagram.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [showImage]="true"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    >
    </circle-progress>
  </div>
</div>
<!--
[title]="'HTML'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
-->
