<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logo">
        </div>
        <div class="redes">
                <a href="https://github.com/DeboAv"><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">SALIR</button>
        </div>
    </div>
</div>
